src/App/bin/Debug/net6.0/App.deps.json
src/App/bin/Debug/net6.0/App.dll
src/App/bin/Debug/net6.0/App.exe
src/App/bin/Debug/net6.0/App.pdb
src/App/bin/Debug/net6.0/FSharp.Core.dll
src/App/bin/Debug/net6.0/cs/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/de/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/es/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/fr/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/it/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/ja/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/ko/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/pl/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/pt-BR/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/ru/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/tr/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/zh-Hans/FSharp.Core.resources.dll
src/App/bin/Debug/net6.0/zh-Hant/FSharp.Core.resources.dll
src/App/obj/App.fsproj.nuget.dgspec.json
src/App/obj/App.fsproj.nuget.g.props
src/App/obj/fsac.cache
src/App/obj/project.assets.json
src/App/obj/project.nuget.cache
src/App/obj/Debug/net6.0/App.AssemblyInfo.fs
src/App/obj/Debug/net6.0/App.assets.cache
src/App/obj/Debug/net6.0/App.dll
src/App/obj/Debug/net6.0/App.fsproj.AssemblyReference.cache
src/App/obj/Debug/net6.0/App.fsproj.CoreCompileInputs.cache
src/App/obj/Debug/net6.0/App.fsproj.FileListAbsolute.txt
src/App/obj/Debug/net6.0/App.genruntimeconfig.cache
src/App/obj/Debug/net6.0/App.pdb
src/App/obj/Debug/net6.0/apphost.exe

src/main
src/main.o
src/main.hi
