*.dll
*.json
*.pdb
*.exe
*.cache
*.trx
*.txt

src/main
src/main.o
src/main.hi

visual.svg
src/DrawingTrees/.ionide
src/DrawingTrees/DrawingTreesTest/obj/Debug/net6.0
src/DrawingTrees/bin/Debug/net6.0
src/DrawingTrees/bin/Debug/net6.0
src/DrawingTrees/bin/Debug/net6.0
src/DrawingTrees/obj
src/DrawingTrees/bin/Release/net6.0
src/DrawingTrees/DrawingTreesTest/.ionide
src/DrawingTrees/DrawingTreesTest/bin/Debug/net6.0
src/DrawingTrees/DrawingTreesTest/obj
local_report.pdf